.FichaPaciente {
  background-color: #EEEEEE;
  background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");
  flex: 1;
  display: flex;
}

.FichaPaciente__contenedor_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #EEEEEE;
  background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");
}

.FichaPaciente__contenedor_vacio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  animation: FichaPaciente__contenedor_vacio-destacar 2s ease-in-out infinite both;
  background-color: #EEEEEE;
  background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");
}

@keyframes FichaPaciente__contenedor_vacio-destacar {
  0% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}
