.Encuesta {
  flex: 1;
  font-size: 1em;
  width: 100%;
  max-width: 1240px;
  max-height: calc(100vh - 8em);
  background-color: white;
  display: flex;
  border-top: 1px solid #EEEEEE;
  box-shadow: 0 .1em .25em rgba(0, 0, 0, .1);
}

.Encuesta__titulo {
  margin-bottom: 1.5em;
}

.Encuesta__progreso {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.Encuesta__selector_categoria {
  cursor: pointer;
  padding: 1em 0;
  transition: all .25s ease-in-out;
  color: #424242;
}

.Encuesta__selector_categoria:hover {
  color: #757575;
}

.Encuesta__selector_categoria--activa {
  font-weight: bold;
}

.Encuesta__titulo_preguntas {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.Encuesta__contenedor_pregunta {
  margin-bottom: 2em;
}

.Encuesta__enunciado_pregunta {
  margin-bottom: 1em;
}

.Encuesta__preguntas {
  flex: 2;
  overflow: auto;
  padding: 1em;
  line-height: 1.25;
  font-size: .95em;
  border-right: 1px solid #EEEEEE;
}

.Encuesta__label_alternativa {
  cursor: pointer;
  display: flex;
  align-items: baseline;
}

.Encuesta__alternativa {
  margin-bottom: .5em;
}

.Encuesta__observaciones {
  flex: 1;
  padding: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.Encuesta__textarea_observaciones {
  resize: none;
  width: 100%;
  flex: 1;
  border-radius: .5em;
  border: 1px solid #eee;
  padding: 1em;
  outline-color: #E67232;
}

.Encuesta__boton_finalizar {
  background-color: white;
  color: #424242;
  padding: .5em 1em;
  font-size: .8em;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  border-radius: 1.5em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .05);
  transition: all .25s ease-in-out;
}

.Encuesta__boton_finalizar:hover {
  box-shadow: 0 .2em .25em rgba(0, 0, 0, .05);
  background-color: #fafafa;
}

.Encuesta__boton_finalizar:disabled {
  cursor: not-allowed;
  background-color: #fafafa;
  box-shadow: 0 0 0 rgba(0, 0, 0, .05);
  filter: saturate(0);
}

.Encuesta__nota_pregunta {
  font-style: italic;
  margin-top: 1em;
}