.NuevoRegistro {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
}

.NuevoRegistro--activo { 
  pointer-events: all;
}

.NuevoRegistro__contenedor {
  background-color: #F5F5F5;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 1em;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .25s ease-out;
}

.NuevoRegistro--activo .NuevoRegistro__contenedor {
  top: 0;
  opacity: 1;
}

.NuevoRegistro__contenedor_superior {
  position: absolute;
  top: 1em;
  font-weight: bold;
  color: #9E9E9E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NuevoRegistro__paciente {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: .5em;
  color: #757575;
}

.NuevoRegistro__subtitulo_paciente {
  font-weight: normal;
  color: #757575;
}

.NuevoRegistro__contenedor_central {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: NuevoRegistro__contenedor_central-aparece .25s .5s ease-in-out both;
}

.NuevoRegistro__contenedor-opciones {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
}

.NuevoRegistro__boton_opcion {
  width: 10em;
  height: 10em;
  background-color: gray;
  border-radius: 1em;
  color: white;
  cursor: pointer;
  box-shadow: 0 .1em .25em rgba(0, 0, 0, .2);
  transition: all .25s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NuevoRegistro__boton_opcion:hover {
  background-color: #E67232;
}

.NuevoRegistro__icono_opcion {
  flex: 2;
  font-size: 4em;
  display: flex;
  align-items: center;
}

.NuevoRegistro__texto_opcion {
  flex: 1;
  display: flex;
  align-items: flex-start;
}

.NuevoRegistro__boton_opcion:hover {
  box-shadow: 0 .2em .35em rgba(0, 0, 0, .25);
}

.NuevoRegistro__boton_opcion:not(:last-child) {
  margin-right: 2em;
}

.NuevoRegistro__boton_cancelar {
  position: absolute;
  top: .5em;
  left: .5em;
  cursor: pointer;
  font-size: .8em;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.NuevoRegistro__icono_boton_cancelar {
  margin-right: .5em;
  color: #E67232;
  display: flex;
  align-items: center;
}

@keyframes NuevoRegistro__contenedor_central-aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}