.ListaPacientes {
  border-right: 1px solid #F5F5F5;
  min-width: 21em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ListaPacientes__lista {
  max-height: calc(100vh - 2em);
  overflow: auto;
}

.ListaPacientes__paciente {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.ListaPacientes__paciente:not(.ListaPacientes__paciente--activo):hover {
  background-color: #f5f5f5;
}

.ListaPacientes__paciente--activo {
  background-color: #EEEEEE;
}

.ListaPacientes__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAB53E;
  height: 2.25em;
  width: 2.25em;
  border-radius: 100%;
  margin: 0 .75em;
  color: white;
  font-size: 1.15em;
}

.ListaPacientes__datos {
  display: flex;
  flex-direction: column;
  padding: 1em .5em 1em 0;
  border-bottom: 1px solid #F5F5F5;
  flex: 1;
}

.ListaPacientes__nombre_paciente {
  font-weight: 500;
  font-size: .9em;
  margin-bottom: .35em;
}

.ListaPacientes__subitulo_paciente {
  font-size: .7em;
  color: #424242;
}
