.Inicio {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: row;
  padding: 2em;
}

.Inicio__prioritarios {
  font-weight: bold;
  color: rgba(0, 0, 0, .8);
  padding-right: 2em;
}

.Inicio__mapa {
  display: flex;
  flex: 1;
}