.Lateral {
  background-color: #0564d1;
  animation: Lateral-aparece .5s ease-in-out .5s both;
}

@keyframes Lateral-aparece {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.Lateral__links {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.Lateral__link {
  text-decoration: none;
  color: rgba(255, 255, 255, .6);
  font-weight: 600;
  padding: 1em .65em;
  transition: all .15s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Lateral__link--activo {
  color: rgba(255, 255, 255, .95);
  background-color: rgba(255, 255, 255, .2);
}

.Lateral__icono_link {
  font-size: 1.35em;
  margin-bottom: .25em;
}

.Lateral__texto_link {
  font-size: .65em;
}